:root {
  /* 基本阴影 */
  --shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  --kungalgame-font-color-0: #777777;
  --kungalgame-font-color-1: #666666;
  --kungalgame-font-color-2: #4d4d4d;
  --kungalgame-font-color-3: #242424;
  --kungalgame-black: #1f2328;
  --kungalgame-white: #ffffff;
  --kungalgame-gray-0: #f6f8fa;
  --kungalgame-gray-1: #eaeef2;
  --kungalgame-gray-2: #d0d7de;
  --kungalgame-gray-3: #afb8c1;
  --kungalgame-gray-4: #8c959f;
  --kungalgame-gray-5: #6e7781;
  --kungalgame-gray-6: #57606a;
  --kungalgame-gray-7: #424a53;
  --kungalgame-gray-8: #32383f;
  --kungalgame-gray-9: #24292f;
  --kungalgame-blue-0: #ddf4ff;
  --kungalgame-blue-1: #b6e3ff;
  --kungalgame-blue-2: #80ccff;
  --kungalgame-blue-3: #54aeff;
  --kungalgame-blue-4: #218bff;
  --kungalgame-blue-5: #0969da;
  --kungalgame-blue-6: #0550ae;
  --kungalgame-blue-7: #033d8b;
  --kungalgame-blue-8: #0a3069;
  --kungalgame-blue-9: #002155;
  --kungalgame-green-0: #dafbe1;
  --kungalgame-green-1: #aceebb;
  --kungalgame-green-2: #6fdd8b;
  --kungalgame-green-3: #4ac26b;
  --kungalgame-green-4: #2da44e;
  --kungalgame-green-5: #1a7f37;
  --kungalgame-green-6: #116329;
  --kungalgame-green-7: #044f1e;
  --kungalgame-green-8: #003d16;
  --kungalgame-green-9: #002d11;
  --kungalgame-yellow-0: #fff8c5;
  --kungalgame-yellow-1: #fae17d;
  --kungalgame-yellow-2: #eac54f;
  --kungalgame-yellow-3: #d4a72c;
  --kungalgame-yellow-4: #bf8700;
  --kungalgame-yellow-5: #9a6700;
  --kungalgame-yellow-6: #7d4e00;
  --kungalgame-yellow-7: #633c01;
  --kungalgame-yellow-8: #4d2d00;
  --kungalgame-yellow-9: #3b2300;
  --kungalgame-orange-0: #fff1e5;
  --kungalgame-orange-1: #ffd8b5;
  --kungalgame-orange-2: #ffb77c;
  --kungalgame-orange-3: #fb8f44;
  --kungalgame-orange-4: #e16f24;
  --kungalgame-orange-5: #bc4c00;
  --kungalgame-orange-6: #953800;
  --kungalgame-orange-7: #762c00;
  --kungalgame-orange-8: #5c2200;
  --kungalgame-orange-9: #471700;
  --kungalgame-red-0: #ffebe9;
  --kungalgame-red-1: #ffcecb;
  --kungalgame-red-2: #ffaba8;
  --kungalgame-red-3: #ff8182;
  --kungalgame-red-4: #fa4549;
  --kungalgame-red-5: #cf222e;
  --kungalgame-red-6: #a40e26;
  --kungalgame-red-7: #82071e;
  --kungalgame-red-8: #660018;
  --kungalgame-red-9: #4c0014;
  --kungalgame-purple-0: #fbefff;
  --kungalgame-purple-1: #ecd8ff;
  --kungalgame-purple-2: #d8b9ff;
  --kungalgame-purple-3: #c297ff;
  --kungalgame-purple-4: #a475f9;
  --kungalgame-purple-5: #8250df;
  --kungalgame-purple-6: #6639ba;
  --kungalgame-purple-7: #512a97;
  --kungalgame-purple-8: #3e1f79;
  --kungalgame-purple-9: #2e1461;
  --kungalgame-pink-0: #ffeff7;
  --kungalgame-pink-1: #ffd3eb;
  --kungalgame-pink-2: #ffadda;
  --kungalgame-pink-3: #ff80c8;
  --kungalgame-pink-4: #e85aad;
  --kungalgame-pink-5: #bf3989;
  --kungalgame-pink-6: #99286e;
  --kungalgame-pink-7: #772057;
  --kungalgame-pink-8: #611347;
  --kungalgame-pink-9: #4d0336;
  /* 
    
    transparent color
    
    */
  --kungalgame-trans-black: #1f2328;
  --kungalgame-trans-white-1: #fffffff7;
  --kungalgame-trans-white-2: #ffffffd9;
  --kungalgame-trans-white-3: #ffffffc7;
  --kungalgame-trans-white-4: #ffffffa1;
  --kungalgame-trans-white-5: #ffffff8e;
  --kungalgame-trans-white-6: #ffffff77;
  --kungalgame-trans-white-7: #ffffff48;
  --kungalgame-trans-white-8: #ffffff1a;
  --kungalgame-trans-gray-0: #f6f8fa77;
  --kungalgame-trans-gray-1: #eaeef277;
  --kungalgame-trans-gray-2: #d0d7de77;
  --kungalgame-trans-gray-3: #afb8c177;
  --kungalgame-trans-gray-4: #8c959f77;
  --kungalgame-trans-gray-5: #6e778177;
  --kungalgame-trans-gray-6: #57606a77;
  --kungalgame-trans-gray-7: #424a5377;
  --kungalgame-trans-gray-8: #32383f77;
  --kungalgame-trans-gray-9: #24292f77;
  --kungalgame-trans-blue-0: #ddf4ff77;
  --kungalgame-trans-blue-1: #b6e3ff77;
  --kungalgame-trans-blue-2: #80ccff77;
  --kungalgame-trans-blue-3: #54aeff77;
  --kungalgame-trans-blue-4: #218bff77;
  --kungalgame-trans-blue-5: #0969da77;
  --kungalgame-trans-blue-6: #0550ae77;
  --kungalgame-trans-blue-7: #033d8b77;
  --kungalgame-trans-blue-8: #0a306977;
  --kungalgame-trans-blue-9: #00215577;
  --kungalgame-trans-green-0: #dafbe177;
  --kungalgame-trans-green-1: #aceebb77;
  --kungalgame-trans-green-2: #6fdd8b77;
  --kungalgame-trans-green-3: #4ac26b77;
  --kungalgame-trans-green-4: #2da44e77;
  --kungalgame-trans-green-5: #1a7f3777;
  --kungalgame-trans-green-6: #11632977;
  --kungalgame-trans-green-7: #044f1e77;
  --kungalgame-trans-green-8: #003d1677;
  --kungalgame-trans-green-9: #002d1177;
  --kungalgame-trans-yellow-0: #fff8c577;
  --kungalgame-trans-yellow-1: #fae17d77;
  --kungalgame-trans-yellow-2: #eac54f77;
  --kungalgame-trans-yellow-3: #d4a72c77;
  --kungalgame-trans-yellow-4: #bf870077;
  --kungalgame-trans-yellow-5: #9a670077;
  --kungalgame-trans-yellow-6: #7d4e0077;
  --kungalgame-trans-yellow-7: #633c0177;
  --kungalgame-trans-yellow-8: #4d2d0077;
  --kungalgame-trans-yellow-9: #3b230077;
  --kungalgame-trans-orange-0: #fff1e577;
  --kungalgame-trans-orange-1: #ffd8b577;
  --kungalgame-trans-orange-2: #ffb77c77;
  --kungalgame-trans-orange-3: #fb8f4477;
  --kungalgame-trans-orange-4: #e16f2477;
  --kungalgame-trans-orange-5: #bc4c0077;
  --kungalgame-trans-orange-6: #95380077;
  --kungalgame-trans-orange-7: #762c0077;
  --kungalgame-trans-orange-8: #5c220077;
  --kungalgame-trans-orange-9: #47170077;
  --kungalgame-trans-red-0: #ffebe977;
  --kungalgame-trans-red-1: #ffcecb77;
  --kungalgame-trans-red-2: #ffaba877;
  --kungalgame-trans-red-3: #ff818277;
  --kungalgame-trans-red-4: #fa454977;
  --kungalgame-trans-red-5: #cf222e77;
  --kungalgame-trans-red-6: #a40e2677;
  --kungalgame-trans-red-7: #82071e77;
  --kungalgame-trans-red-8: #66001877;
  --kungalgame-trans-red-9: #4c001477;
  --kungalgame-trans-purple-0: #fbefff77;
  --kungalgame-trans-purple-1: #ecd8ff77;
  --kungalgame-trans-purple-2: #d8b9ff77;
  --kungalgame-trans-purple-3: #c297ff77;
  --kungalgame-trans-purple-4: #a475f977;
  --kungalgame-trans-purple-5: #8250df77;
  --kungalgame-trans-purple-6: #6639ba77;
  --kungalgame-trans-purple-7: #512a9777;
  --kungalgame-trans-purple-8: #3e1f7977;
  --kungalgame-trans-purple-9: #2e146177;
  --kungalgame-trans-pink-0: #ffeff777;
  --kungalgame-trans-pink-1: #ffd3eb77;
  --kungalgame-trans-pink-2: #ffadda77;
  --kungalgame-trans-pink-3: #ff80c877;
  --kungalgame-trans-pink-4: #e85aad77;
  --kungalgame-trans-pink-5: #bf398977;
  --kungalgame-trans-pink-6: #99286e77;
  --kungalgame-trans-pink-7: #77205777;
  --kungalgame-trans-pink-8: #61134777;
  --kungalgame-trans-pink-9: #4d033677;
}
