/* --------------------------------------------------------------
   reset.css
   * Resets default browser CSS.
-------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: cursive, serif, system-ui;
  box-sizing: border-box;
}
:focus {
  outline: none;
}
*::-webkit-scrollbar {
  display: none;
}
