/* --------------------------------------------------------------
   reset.css
   * Resets default browser CSS.
-------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* 兼容火狐浏览器不显示滚动条 */
* {
  scrollbar-width: none; /* Firefox 64+ */
}
