/* --------------------------------------------------------------
   reset.css
   * Resets default browser CSS.
-------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei,
    sans-serif;
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
*::-webkit-scrollbar {
  display: none;
}
