/* KUNGalgame 通用的滚动条 */

/* 滚动条的样式 */
.kungalgame-scrollbar::-webkit-scrollbar {
  display: inline;
  width: 4px;
  height: 0;
  background-color: $kungalgame-red-2;
  border-radius: 2px;
}
.kungalgame-scrollbar::-webkit-scrollbar-thumb {
  background: $kungalgame-blue-4;
  border-radius: 2px;
}
