/* wangEditor5 使用了 Shadow DOM，不能直接修改颜色，在全局覆盖 */

.w-e-scroll {
  &::-webkit-scrollbar {
    display: inline;
    width: 6px;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--kungalgame-blue-4);
    border-radius: 3px;
  }
}

/* 删除线，不然会不显示 */
s {
  text-decoration: line-through;
}

/* 下划线，不然会不显示 */
u {
  text-decoration: underline;
}

/* 不显示分割线 */
.w-e-bar-divider {
  display: none;
}

:root {
  /* textarea - css vars */
  --w-e-textarea-bg-color: var(--kungalgame-white-9);
  --w-e-textarea-color: var(--kungalgame-font-color-3);
  --w-e-textarea-border-color: var(--kungalgame-blue-4);
  --w-e-textarea-slight-border-color: var(--kungalgame-blue-4);
  --w-e-textarea-slight-color: var(--kungalgame-font-color-0);
  --w-e-textarea-slight-bg-color: var(--kungalgame-trans-blue-0);
  --w-e-textarea-selected-border-color: var(--kungalgame-blue-1);
  /* 选中的元素，如选中了分割线 */
  --w-e-textarea-handler-bg-color: var(--kungalgame-blue-4);
  /* 工具，如图片拖拽按钮 */

  /* toolbar - css vars */
  --w-e-toolbar-color: var(--kungalgame-font-color-1);
  --w-e-toolbar-bg-color: var(--kungalgame-trans-white-2);
  --w-e-toolbar-active-color: var(--kungalgame-font-color-3);
  --w-e-toolbar-active-bg-color: var(--kungalgame-trans-blue-1);
  --w-e-toolbar-disabled-color: var(--kungalgame-red-4);
  --w-e-toolbar-border-color: var(--kungalgame-blue-4);

  /* modal - css vars */
  --w-e-modal-button-bg-color: var(--kungalgame-white);
  --w-e-modal-button-border-color: var(--kungalgame-blue-4);
}
