/* 参考 'quill-mention/dist/quill.mention.css' */

.ql-mention-list-container {
  width: 270px;
  border: 1px solid var(--kungalgame-blue-1);
  border-radius: 4px;
  background-color: var(--kungalgame-trans-white-2);
  box-shadow: var(--shadow);
  z-index: 9001;
  overflow: auto;
}

.ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.ql-mention-list-item.disabled {
  cursor: auto;
}

.ql-mention-list-item.selected {
  background-color: var(--kungalgame-trans-blue-0);
  text-decoration: none;
}

.mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: var(--kungalgame-trans-blue-0);
  padding: 3px 0;
  margin-right: 2px;
  user-select: all;
}

.mention > span {
  margin: 0 3px;
}
