html {
  --kungalgame-black: #1f2328;
  --kungalgame-white: #ffffff;
  --kungalgame-blue-0: #ddf4ff;
  --kungalgame-blue-1: #b6e3ff;
  --kungalgame-blue-2: #80ccff;
  --kungalgame-blue-3: #54aeff;
  --kungalgame-blue-4: #218bff;
  --kungalgame-trans-white-1: #fffffff7;
  --kungalgame-trans-white-2: #ffffffd9;
  --kungalgame-trans-white-3: #ffffffc7;
  --kungalgame-trans-white-4: #ffffffa1;
  --kungalgame-trans-blue-0: #ddf4ff77;
  --kungalgame-trans-blue-1: #b6e3ff77;
  --kungalgame-trans-blue-2: #80ccff77;
  --kungalgame-trans-blue-3: #54aeff77;
  --kungalgame-trans-blue-4: #218bff77;
}
